.button {
  display: grid;
  grid-template-areas: 'stack';
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  &.active {
    border: 1px solid rgb(var(--theme-color));
  }
  &.short {
    color: rgba(var(--white), 1);
    padding: 0.3rem 1.5rem;
  }

  .icon {
    visibility: hidden;
    grid-area: stack;
  }

  .text {
    grid-area: stack;
    color: rgba(var(--white), 1);
  }

  &.loading {
    .text {
      visibility: hidden;
    }
    .icon {
      visibility: visible;
    }
  }
  &.primary {
  }
  &.secondary {
  }
}
