.container {
  border: 1px solid rgba(var(--border-line), 0.1);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 1rem;
  &.vertical {
    flex-direction: column;
    height: max-content;
  }
}
