.navbar {
  display: grid;
  align-items: center;
  grid-template-areas: 'middle end';
  grid-template-columns: auto auto;
}

.navPages {
  grid-area: middle;
  display: grid;
  align-items: center;
}
.navLinks,
.navAuth {
  display: flex;
  align-items: center;
  a {
    padding: 8px;
  }
}

.navAuth {
  grid-area: end;
}
