.settingsLayout {
  width: min(600px, calc(100% - 2rem));
  display: grid;
  gap: 1rem;
  grid-template-areas:
    '🎨 🎨'
    '⬅️ 🔍'
    '⬅️ 🪟'
    '⬅️ 🅿️'
    '⬅️ 🖼️'
    '⬅️ 🔼';
}

.section {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 1rem;
  &.vertical {
    flex-direction: column;
    height: max-content;
  }
}

.button {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid transparent;
  border-radius: 0.3rem;
  color: rgb(var(--theme-color));
  flex-grow: 1;
  outline: none;
  padding: 1.25rem;
  cursor: pointer;
}

.button.short {
  color: white;
  padding: 0.3rem 1.5rem;
}

.button:hover,
.button:focus {
  border: 1px solid rgb(var(--theme-color));
}

.input {
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: white;
  outline: none;
  padding: 10px;
  width: 100%;
}

.input::placeholder {
  color: rgba(var(--theme-color), 0.5);
}

.input:focus {
  border-color: rgb(var(--theme-color));
}

.themePickerSection {
  grid-area: 🎨;
  justify-content: space-between;
  & > input {
    height: 1rem;
    width: 1rem;
    margin: 0px;
    outline: none;
    position: relative;
    cursor: pointer;
  }
  & > input:before,
  & > input:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 1;
  }
  & > input:after {
    height: 104%;
    width: 104%;
  }
  & > input:before {
    display: none;
    height: 120%;
    width: 120%;
    border: 0.2rem solid white;
  }
  & > input:not(:checked):hover:before,
  & > input:not(:checked):active:before {
    display: block;
    border-color: rgba(255, 255, 255, 0.5);
  }
  & > input:checked:before {
    display: block;
  }
  & > input[value='white']:after {
    background-color: rgb(255, 255, 255);
  }
  & > input[value='red']:after {
    background-color: rgb(var(--red));
  }
  & > input[value='orange']:after {
    background-color: rgb(var(--orange));
  }
  & > input[value='yellow']:after {
    background-color: rgb(var(--yellow));
  }
  & > input[value='green']:after {
    background-color: rgb(var(--green));
  }
  & > input[value='blue']:after {
    background-color: rgb(var(--blue));
  }
  & > input[value='indigo']:after {
    background-color: rgb(var(--indigo));
  }
  & > input[value='violet']:after {
    background-color: rgb(var(--violet));
  }
}

.sideBarSection {
  grid-area: ⬅️;
}

.searchSection {
  grid-area: 🔍;
}

.viewSection {
  grid-area: 🪟;
}

.progressSection {
  grid-area: 🅿️;
}
.progressBar {
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  height: 1rem;
  width: 100%;
}

.progressBarCompletion {
  background-color: rgb(var(--theme-color));
  border-radius: inherit;
  height: 100%;
  width: 40%;
}

.imageSection {
  grid-area: 🖼️;
  gap: 1rem;
}

.imageSection > img {
  width: 100%;
}

.imageSectionRotator {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.imageSectionRotator > .imageSectionDot {
  background-color: rgba(var(--theme-color), 0.4);
  height: 0.5rem;
  width: 0.5rem;
  margin: 0px;
  padding: 0px;
  border-radius: 100%;
  border: none;
  outline: none;
}

.imageSectionRotator > .imageSectionDot:hover,
.imageSectionRotator > .imageSectionDot:focus {
  background-color: rgba(var(--theme-color), 0.8);
  cursor: pointer;
}

.imageSectionRotator > .imageSectionDot:first-child {
  background-color: rgb(var(--theme-color));
}

.shapeSection {
  grid-area: 🔼;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.shapeSection > .button {
  border: 1px solid rgba(var(--theme-color), 0.4);
  height: 100px;
}

.shapeSection > .button:hover,
.shapeSection > .button:focus {
  background-color: rgba(var(--theme-color), 0.1);
  border-color: rgb(var(--theme-color));
}

@media (max-width: 500px) {
  .settingsLayout {
    grid-template-areas:
      '🎨'
      '⬅️'
      '🔍'
      '🪟'
      '🅿️'
      '🖼️'
      '🔼';
    margin-top: 1rem;
  }

  .button > i {
    height: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 1.5rem;
  }

  .themePickerSection {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  .themePickerSection > input {
    height: 1.4rem;
    width: 1.4rem;
  }

  .viewSection {
    flex-direction: column;
  }

  .viewSection > button {
    width: 100%;
  }

  .sideBarSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}
